---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

* {
	box-sizing: border-box;
}

body{
	background-color: #232627 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #d2d2d2 !important;
	text-align: justify;
	margin: 0;
}

.container {
	max-width: 1024px;
	margin: 0 auto 0 auto;
	padding: 0 15px 0 15px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

img {
	width: 100%;
}

.project {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 20px;
	border-left: solid 2px;
	margin-top: 20px;
	margin-bottom: 60px;
	h3 { margin-top: 0px; }
	div {
		flex-basis: 400px;
		flex-grow: 1;
		margin: auto 20px auto auto;
		flex-shrink: 1;
		//p { margin-bottom: 0; }
	}
	img, .video {
		margin: auto 0;
		flex-basis: 500px;
		flex-grow: 1;
		width: 0;
	}
}

.project:nth-of-type(even) {
	flex-direction: row-reverse;
	padding-left: 0;
	//padding-right: 20px;
	border-left: none;
	border-right: solid 2px;
	div {
		margin: auto 20px auto auto;
		p:first-of-type, h3 {
			//text-align: right;
		}
	}
	img, .video {
		margin-right: 20px;
	}
}

nav.social {
	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		li {
			a > img {
				max-width: 64px;
				padding: 0;
			}
			a:hover {
				border: none;
				opacity: 50%;
			}
		}
	}
}

.video figure {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin: auto;
}

.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.jumbotron {
	padding: 20px 60px 20px 60px;
	margin-bottom: 30px;
	h1 { font-size: 63px; }
	a { color: unset; }
	a:hover {
		color: #d2d2d2;
		border: none;
	}
}


h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
}

h6 {
}

#footer {
	min-height: 0;
}

/*
.container{
	width: auto;
	max-width: 900px;
}
*/
.navbar-default{
	background: #242728 !important;
	border: none !important;

}

.navbar-default .navbar-nav > li > a{
	color:#abc0ca !important;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#03a4fb !important;

}
.navbar-default .navbar-nav > li > a:focus{
	color:#03a4fb !important;
}
.navbar-default .navbar-brand{
	color:#abc0ca !important;
}
.footer-content{
	text-align: center;
	padding: 0.5em;
}
.page-stuff{
	a {
		color: #03a4fb;
		text-decoration: none;
		&:hover{
			color:#03a4fb;
			text-decoration: none !important;
			border-bottom: 1px dotted #03a4fb;
			padding-bottom:0.5em;
		}
	}
}
#page-content{
	padding-bottom: 4em;
	font-size: 1.5em;
}

.page-stuff{
	padding-top: 2em;
	padding-bottom: 5em;
}
.jumbotron {
	background: #242728 !important;
}
a {
	color: #03a4fb;
	text-decoration: none;
}
a:hover{
	color:#03a4fb;
	text-decoration: none !important;
	border-bottom: 1px dotted #03a4fb;

}

.post-list{

	text-align: center;

}
.post-box{
	padding-top: 2em;
	padding-bottom: 2em;
}

.post-title{
	font-size: 20px !important;
	color:  #abc0ca !important;
}

.post-excerpt{
	color: white !important;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}
.post-title-main{
	text-align: center;
	color: #abc0ca !important;
}
.post-content{
	font-size: 19px;
	text-align: justify;
	padding-bottom: 5em;
}
pre{
	background-color: black !important;
	border:none !important;
	border-radius: 0px !important;
	font-size: 20px !important;
	padding: 1.5em !important;
	color:white !important;
}
.post-meta{
	color: skyblue !important;
}

code{
	background-color: black !important;
	color: white !important;
	border: none !important;
	border-radius: 0px !important;
}

.page-tagline{
	font-size: 20px;
	text-align: center;
}

.download{
	padding:2em;
	font-size: 19px;
}
.intro{
	font-size: 19px;

}
.manual-title{
	font-size: 21px;
	padding: 1em;
	text-transform: uppercase;

}
.manual-content{
	text-align: justify;
	font-size: 19px;
}

.man-title{
	font-size: 22px;
	text-align: center;
	padding: 1em;
	letter-spacing: 2px;

}

.jumbotron{
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.navbar{
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"syntax-highlighting"
;
