<section>

	<nav class="social">

			<!-- Brand and toggle get grouped for better mobile display -->
<!--
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{site.baseurl}}/">Home</a>
			</div>
-->

			<ul>
        <li><a href="http://youva.fr/resume" target="_blank"><img src="resume.png"></a></li>
				<li><a href="http://github.com/Eviber" target="_blank"><img src="github.png"></a></li>
			</ul>
<!--
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{site.baseurl}}/bio">About me</a></li>
			</ul>
-->
	</nav>
</section>
