<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<section>
			<section class="container">

				<div class="jumbotron">
					<div class="container">
            <h1><a href="{{site.baseurl}}/">Youva Gaudé</a></h1>
            <div style="display: flex; align-items: baseline; justify-content: space-between; flex-wrap: wrap;">
						  <h3>Game Programmer Portfolio</h3>
						  <h4 style="text-align: right;">contact@youva.fr</h4>
            </div>
					</div>

				</div>
{% include header.html %}
			</section>

			<section id="page-content">
				<div class="container">
					{{content}}
				</div>
			</section>
		</section>
	</body>

</html>
